/*--------------------------------------------------------------------------------------------------------------------||
||  Body                                                                                                              ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-container {
  display: grid;
  grid-template-columns: 90%;
  grid-template-areas:
    "header"
    "sidebar-main"
    "content"
    "sidebar-supplemental"
    "footer";
  margin: 0 auto;
  max-width: $width-max--outer;
  justify-content: center;

  @include bp($bp__tablet) {
    gap: 0 2rem;
    grid-template-areas:
            ". header header header header"
            "sidebar-main content content content sidebar-supplemental"
            "footer footer footer footer .";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    width: 95%;
  }
}

.site-header {
  grid-area: header;
  justify-self: stretch;
}

.site-main {
  grid-area: content;

  @include bp($bp__phone) {
    justify-self: stretch;
    min-height: 75vh;
    padding: 0 2rem;
  }
}

.site-footer {
  grid-area: footer;
}

.sidebar-container--main {
  grid-area: sidebar-main;
  justify-self: stretch;
}

.sidebar-container--supplemental {
  grid-area: sidebar-supplemental;
  justify-self: stretch;
}

.hentry {

}

.page__wrapper {

}

.page__wrapper--inner {

}


.section__hd {

}

.section__hd--category {

}

.section__hdr {

}

.skip-link {
  display: none;
}

