/*--------------------------------------------------------------------------------------------------------------------||
||  Body                                                                                                              ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-container,
.site-container__inner {
  display: grid;
  gap: 0 4rem;
  grid-template-columns: 100%;
  justify-content: center;
  margin: 0 auto;

  @include bp($bp__tablet--sm) {
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
  }

  @include bp($bp__tablet--lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: $width-max--outer;
  }
}

.site-container {
  grid-template-areas:
    "header"
    "container-inner"
    "footer";
  width: 90%;

  @include bp($bp__tablet--sm) {
    grid-template-areas:
    ". header header header header"
    "container-inner container-inner container-inner container-inner container-inner"
    ". . footer footer .";
  }
}

.site-container__inner {
  grid-area: container-inner;
  grid-template-areas:
    "sidebar-main"
    "content"
    "sidebar-supplemental";
  justify-self: stretch;
  min-height: 75vh;
  width: 100%;

  @include bp($bp__tablet--sm) {
    grid-template-areas:
      "sidebar-main content content content content";
  }

  @include bp($bp__tablet--lg) {
    grid-template-areas:
      "sidebar-main content content content sidebar-supplemental"
  }
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: content;
  justify-self: center;
  width: 100%;
}

.site-footer {
  grid-area: footer;
}

.sidebar-container {
  justify-self: stretch;
}

.sidebar-container--main {
  grid-area: sidebar-main;
}

.sidebar-container--supplemental {
  grid-area: sidebar-supplemental;
  display: none;

  @include bp($bp__tablet--lg) {
    display: block;
    width: 100%;
  }
}

.hentry {

}

.page__wrapper {

}

.page__wrapper--inner {

}


.section__hd {

}

.section__hd--category {

}

.section__hdr {

}

.skip-link {
  display: none;
}

