/*--------------------------------------------------------------------------------------------------------------------||
||  Body                                                                                                              ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-body {

}

.site-main {

}

.site-wrapper {
}

.entry__content {
  .wp-block-code {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    font-size: inherit;
    font-family: monospace;
    overflow: auto;
    padding: 1rem;
  }
} // .entry__content

.entry__hd {

}

.entry__hd:not(.entry__hd--excerpt) {

}

.entry__image {

}

.entry__link {

}

.entry__meta {

}

.hentry {

}

.page__wrapper {

}

.page__wrapper--inner {

}


.section__hd {

}

.section__hd--category {

}

.section__hdr {

}

.skip-link {
  display: none;
}

