/*--------------------------------------------------------------------------------------------------------------------||
||  Footer                                                                                                            ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-copyright {
  text-decoration: none;
}

.site-footer {
  margin-top: 2rem;
}

.site-footer__inner {
  margin: 0 auto;
  max-width: $width-max--outer;
  padding: 4rem 0;
  text-align: center;
}
