/*--------------------------------------------------------------------------------------------------------------------||
||  Footer                                                                                                            ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-footer {
  font-size: 0.875rem;
  padding: 4rem 0;
  text-align: right;
  width: 100%;

  @include bp($bp__tablet) {
	font-size: inherit;
	margin: auto;
  }
}
