/*--------------------------------------------------------------------------------------------------------------------||
||  Site Branding                                                                                                     ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-header {
  padding: 1rem 0;
  position: relative;

  @include bp($bp__phone) {
    padding: 1rem 0 1rem 2rem;
  }
}
