/*--------------------------------------------------------------------------------------------------------------------||
||  Site Branding                                                                                                     ||
||--------------------------------------------------------------------------------------------------------------------*/
.site-header {
  margin-bottom: 2rem;
  text-align: center;
}

.site-header__branding {
  font-size: 3rem;
}

.site-header__home-link {
  text-decoration: none;
}

.site-header__inner {
  margin: 0 auto;
  max-width: $width-max--outer;
  width: 95%;
  padding: 2rem 0;
}

