// Page layout
$width-max--outer: 1600px;
$width-max--inner: 1040px;

// Colors
$color__accent: rgb(170, 200, 100);
$color__nav-menu-accent: $color__accent;

$color-white: rgb(255, 255, 255);
$color-black: rgb(40, 40, 40);

$color-background-primary: $color-white;
$color-background-secondary: rgb(253,253,253);
$color-background-accent: $color__accent;
$color-background-accent-transparent: rgba(230,0,0,0.8);

// Header
$color-background-header: $color-black;

$color-border__heading: rgb(210,210,210);

$color-text-primary: rgb(34,34,34);
$color-text-accent: $color__accent;
$color-text-lightest: rgb(255,255,255);

// Fonts
$font-sans: 'Lato', sans-serif;
$font-sans--alt: 'Montserrat', sans-serif;
$font-serif: 'Times New Roman', serif;

// Shadows
$bottom-shadow: 0 2px 1px rgba(0,0,0,0.3);
$top-shadow: 0 -2px 1px rgba(0,0,0,0.3);


// Breakpoints
$bp__phone: 450;
$bp__phone--lg: 640;
$bp__tablet: 749;
$bp__tablet--lg: 864;
