/*
Styles for the main element contents.
 */
.site-main__hd,
.page-template-default .entry__hd,
.single .entry__hd {
  @extend %font-serif--bold;
  border-bottom: 1px solid rgb(180, 180, 180);
  color: rgb(55, 55, 55);
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}
