html,
body {
  font-size: 100%;
  font-family: $font-serif;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  * {
    box-sizing: border-box;
  }
}

img {
  height: auto;
  max-height: 90vh;
  max-width: 100%;
  width: auto;
}

/* WordPress required classes
---------------------------------------------------------------*/
.aligncenter {
  /* */
}

.alignleft {
  /* */
}

.alignright {
  /* */
}

.bypostauthor {
  /* */
}

.gallery-caption {
  /* */
}

.sticky {
  /* */
}

.wp-caption {
  /*
  */
}

.wp-caption-text {
  /* */
}

