.site-main article + article {
  padding-top: 1.5rem;
  position: relative;

  @include bp($bp__phone) {
    padding-top: 4rem;
  }

  @include bp($bp__tablet) {
	padding-top: 4rem;
  }

  &:before {
    border: 1px solid $color-text-primary;
    border-radius: 50%;
    background-color: $color-text-primary;
    content: '';
    display: block;
    height: 4px;
    margin: 0 auto 2rem auto;
    width: 4px;

    @include bp($bp__phone) {
      margin: 0 auto 4rem auto;
    }

	@include bp($bp__tablet) {
	  margin: 0 auto 4rem auto;
	}
  }
}

.entry__hdr {
  border-left: 5px solid $color-text-primary;
  margin-bottom: 2rem;
  padding: 0 0 1rem 1.5rem;

  @include bp($bp__tablet) {
	margin-bottom: 1rem;
  }
}

.entry__hd {
  @extend %font-serif--bold;
  font-size: 1.375rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;

  @include bp($bp__tablet) {
    font-size: 2rem;
  }
}

.entry__hd a {
  color: rgb(40, 40, 40);
}

.entry__meta {
  @extend %font-sans;
  color: $color-text-primary;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}


.entry__image {

}

.entry__link {

}

.entry__meta {

}


.entry__content {
  h1, h2, h3, h4, h5, h6 {
    color: rgb(55, 55, 55);
    margin: 0;
  }

  * + h1:not(.entry__hd),
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: 2rem;
  }

  h1, h2, h3 {
    @extend %font-serif--bold;
  }

  h1 {
    font-size: 1.5rem;

    @include bp($bp__tablet) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 1.375rem;
    line-height: 1.4;

	@include bp($bp__tablet) {
	  font-size: 1.75rem;
	}
  }

  h3 {
    font-size: 1.25rem;

    @include bp($bp__tablet) {
      font-size: 1.5rem;
    }
  }

  h4, h5, h6 {
    font-size: 1.125rem;

    @include bp($bp__tablet) {
      font-size: 1.375rem;
    }
  }

  p, ol, ul, li {
    @include bp($bp__tablet) {
      font-size: 1.25rem;
    }
  }

  * + p {
    margin-top: 1.8rem;
  }

  h2, h3, h4, h5, h6 {
    & + p {
      margin-top: 0.5rem;
    }
  }

  p + *:not(p) {
    margin-top: 2rem;
  }

  a {
    @extend %link-standard;
    font-size: inherit;
  }

  blockquote {
    background-color: $color-white;
    border: 0.15rem dashed $color-text-primary;
    border-radius: 10px;
    padding: 1rem 2rem;
    position: relative;
    margin-bottom: 2rem;

    @include bp($bp__tablet) {
      padding: 2rem 4rem;
    }

    & > p {
      font-style: italic;
      font-size: 1.25rem;

      @include bp($bp__tablet) {
        font-size: 2rem;
      }
    }
  }

  i, em {
    font-style: italic;
  }

  li {
    margin-left: 1.125rem;
    padding-left: 1.125rem;
  }

  ul {
    margin-left: 0.375rem;

    li {
      list-style-type: disc;
    }

    & > ul li {
      list-style-type: square;

      & > ul li {
        list-style-type: circle;
      }
    }
  }

  ol {
    margin-left: 0.375rem;

    & > li {
      list-style-type: decimal;

      & > ol > li {
        list-style-type: upper-latin;

        & > ol > li {
          list-style-type: lower-roman;
        }
      }
    }
  }

  iframe {
    max-width: 100%;
  }

  .wp-block-code,
  p > code {
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    font-size: 0.875rem;
    font-family: "Ubuntu Mono", monospace;
    overflow: auto;
    padding: 1.75rem;
    max-width: 100%;

    @include bp($bp__tablet) {
      font-size: inherit;
    }
  }

  .gist {
    margin: 1rem 0;
  }

  p > code {
	padding: 0.25rem;
  }
}
