.sidebar-container--main {
  display: grid;
  grid-template-areas:
    "profile-image details";
  justify-content: stretch;
  margin-bottom: 1rem;

  @include bp($bp__phone) {
    margin-bottom: auto;
    text-align: right;
  }
}

.sidebar-details__description {
  font-size: 0.8125rem;
  line-height: 1.2;
  margin-top: 0.5rem;

  @include bp($bp__tablet--sm) {
    font-size: inherit;
  }
}

.sidebar__image {
  align-self: stretch;
  grid-area: profile-image;
}

.sidebar__details {
  grid-area: details;
  align-self: stretch;
}
