.sidebar-container--main {
  display: grid;
  grid-template-areas:
    "profile-image details";
  grid-template-columns: 50% 50%;
  justify-content: stretch;
  margin-bottom: 1rem;

  @include bp($bp__phone) {
    margin-bottom: auto;
    text-align: right;
  }
}

.sidebar__image {
  align-self: stretch;
  grid-area: profile-image;
}

.sidebar__details {
  grid-area: details;
  align-self: stretch;
}