.sidebar-container--main {
  @include bp($bp__tablet--sm) {
	display: grid;
	grid-template-areas:
	  "profile-image details";
	justify-content: stretch;
	margin-bottom: auto;
	text-align: right;
  }
}

.sidebar--main {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;

  @include bp($bp__tablet--sm) {
	align-items: initial;
	display: initial;
	margin-bottom: initial;
  }
}

.sidebar__image {
  border-radius: 100%;
  display: inline-block;
  flex: 0 0 75px;
  height: 75px;
  line-height: 0;
  margin-right: 1rem;
  overflow: hidden;
  width: 75px;

  @include bp($bp__tablet--sm) {
	align-self: center;
	grid-area: profile-image;
	flex: none;
	height: auto;
	margin: initial;
	width: auto;
  }
}

.sidebar__details {
  align-self: center;
  display: inline-flex;
  flex-flow: column;

  @include bp($bp__tablet--sm) {
	align-self: stretch;
	grid-area: details;
	margin-top: 0.5rem;
	text-align: center;
  }
}

.sidebar-details__title a {
  @extend %link-standard;
}

.sidebar-details__description {
  font-size: 0.8125rem;
  line-height: 1.2;

  @include bp($bp__tablet--sm) {
	font-size: inherit;
  }
}

